<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">Resultado</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoResultado">
                    <div class="contenedor">
                        <p class="resultado">{{resultado}}</p>
                        <p class="styleNumber">{{bmi}}</p>
                        <p class="interpretacion">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button routerLink="/" class="btn btn-danger btn-lg btn-color">
                    VOLVER A CALCULAR
                </button>
            </div>
        </div>
    </div>
</div>